<!DOCTYPE html>
<html lang="en">
<body>
      <!-- ********************************* Start your project here *******************************************-->

        <nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">
        <a
        class="navbar-brand"
        href="#"><strong>NASA SUITS</strong></a>
        <ul
        class="navbar-nav nav-flex-icons">
        <li
        class="nav-item">
        <a
        class="nav-link"><i
        class="fa fa-facebook"></i></a>
        </li>
        <li
        class="nav-item">
        <a
        class="nav-link"><i
        class="fa fa-twitter"></i></a>
        </li>
        <li
        class="nav-item">
        <a
        class="nav-link"><i
        class="fa fa-instagram"></i></a>
        </li>
        </ul>
        </nav>
        <!--Jumbotron-->
        <div
        class="jumbotron text-center">
        <!--Title-->
        <h1
        class="card-title h1-responsive mt-1"><strong>NASA
         S.U.I.T.S. 2018</strong></h1>
        <!--Subtitle-->
        <h3
        class="black-text mb-8 font-bold">Command Central</h3>
        <!--Text-->
        <div
        class="d-flex justify-content-center">
        </div>
        </div>
        <!--Jumbotron-->
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
        <!--Card-->
            <div class="card card-cascade">
        <!--Card image-->
                <div class="view overlay view-cascade waves-light" mdbWavesEffect>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Texas_A%26M_University_logo.svg" class="img-fluid" alt="">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
        <!--/.Card image-->
        <!--Card content-->
                <div class="card-body card-body-cascade text-center">
        <!--Title-->
                    <h4 class="card-title"><strong>Texas A&M Team</strong></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                     sunt, quod quibusdam.
                    </p>
        <!--Facebook-->
        <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect><i class="fa fa-facebook"></i>
        </a>
        <!--Twitter-->
        <a type="button"
        class="btn-floating btn-small btn-tw waves-light"
        mdbWavesEffect><i
        class="fa fa-twitter"></i></a>
        <!--Google +-->
        <a type="button btn-floating btn-small btn-dribbble waves-light" mdbWavesEffect>
            <i class="fa fa-dribbble"></i> </a>
        </div>
        <!--/.Card content-->
        </div>
        <!--/.Card-->
        </div>
        <div class="col">
        <div class="jumbotron text-center">
        <h1
        class="h1-responsive">Mission Control</h1>
        <br><br>
        <hr class="my-2">
        <br>
        <button (click) ="onClick()" class="btn btn-success btn-lg">START</button>
        <a class="btn btn-danger btn-lg" role="button">STOP</a>   
        <a class="btn btn-warning btn-lg" role="button">ERROR</a>   
        <a class="btn btn-primary btn-lg" role="button">SAVE</a>       
        </div>
        

        <ul class="container-fluid float-right nav nav-tabs nav-justified elegant-color-dark lighten-2 mx-0 mb-0 mt-1">
                <li type ="button" class="nav-item">
                    <a class="nav-link active" href="#!">Data Stream</a>
  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Link 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Link 2</a>
                </li>
            </ul>   
            </div> 
     

    <!-- ****************************************************************************/Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

